<div class="content">
    <div class="text-block">
        <h3><span class="highlight">About the Dallas Animal Shelter</span></h3>
        <img id="founderimg" src="http://i64.tinypic.com/20rqxht.jpg" height="300" alt="Sarah holding a grey kitten">
        <p class="caption">Our founder, Sarah, with her first rescue in 1973.</p>

        <p>The Dallas Animal Shelter was founded in the garage of one pet lover's home as a rescue operation. As the volume
            of rescued animals increased, so did the need for a place to house these animals, and so the Dallas Animal Shelter
            was created.</p>
        <p>The Dallas Animal Shelter has been in operation since 1973.</p>
        <p>Please support us by donating <a href="">here</a> or signing up for employer matching <a href="">here</a>.</p>
    </div>
    <div class="text-block">
        <h3><span class="highlight">Contact Us</span></h3>
        <div id="contact-block">
            <div id="phone">
                <p><i class="fas fa-phone-volume"></i>

                </p>
                <p>512-736-2247</p>
            </div>
            <div id="hours">
                <p><i class="fas fa-door-open"></i></p>
                <p>Open from 8 am to 4:30 pm Monday through Saturday</p>
            </div>
            <div id="address">
                <p><i class="fas fa-map-marker-alt"></i></p>
                <p>8750 N. Central Expressway, Dallas, TX 75206</p>
            </div>
        </div>
    </div>
</div>