<img id="home-skyline" src="https://samholm.files.wordpress.com/2016/07/dallas-skyline.jpg">
<!-- <div id="parallax1"></div> -->
<div class="content">
    <div class="text-block">
        <p>Welcome to the Dallas Animal Shelter website, the online stop to see what cats and dogs we have available for
            adoption. </p>
        <p>All cat and dog adoptions are $60. This covers spaying or neutering and the first set of shots required for a
            healthy pet.
        </p>
    </div>
    <div class="text-block">
        <div class="home-flex"><a href="#!/pets" class="home-cta">See Our Pets</a></div>
    </div>
    <div class="text-block">
        <p>For new owners, we recommend the following resources:</p>
        <ul>
            <li>KittenGuru Youtube Channel</li>
            <li>Dogs 'R' Us Dog Encyclopedia 2000</li>
            <li>Doggo Doggo Doggo Doggo and Homemade Pet Food 201 by Doggo Doggo</li>
        </ul>
    </div>
    <div class="text-block">
        <p>Visit our partner stores below for 10% off your first purchase when you bring in your adoption papers!</p>
        <ul>
            <li>Local Dog Boutique located @ 16333 N. Central Expressway</li>
            <li>Local Pet Supply Store located @ 123456 LBJ Freeway</li>
            <li>Fish Gallery located @ 999 N. Greenville Ave.</li>
        </ul>
    </div>
    <div class="text-block">
        <p>For more tips and tricks, sign up for our newsletter! We even send you a special treat
            on your birthday.
        </p>
    </div>
    <div class="text-block">
            <div class="home-flex"><div class="home-cta" ng-click="subscribe()">Subscribe</div></div>
    </div>
</div>
